@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .custom-bg {
        background: rgb(15 21 35);
    }

    .custom-text {
        color: rgb(223,209,190);
    }

    .test-bg {
        background: rgb(174 118 62);
    }
}
