@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


    .text-gourmania {
        color: rgb(223,209,190);
    }

    .gourmania-hover {
        background: rgb(197, 143, 92);
    }

    .bg-gourmania {
        background: rgb(174, 118, 62);
    }

    .nav-link{
        @apply font-inclusive text-white text-sm hover:gourmania-hover transition ;
    }
}
