@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


    .custom-text {
        color: rgb(223,209,190);
    }

    .custom-text-hover {
        color: rgb(117, 82, 42);
    }

    .gourmania-bg {
        background: rgb(174, 118, 62);
    }

    .nav-link{
        @apply m-5 font-inclusive text-2xl hover:custom-text-hover transition;
    }
}
